#Body {
    background-image: url("../IMG/fondoColumna.jpg");
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
}

.Cabecera {
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
}

#menuPrincipal {
    width: 2%;
    height: auto;
    margin-top: 2.5%;
    margin-left: 3%;
    float: left;
    opacity: 75%;
    cursor: pointer;
    transition: opacity 0.5s;
}

#menuPrincipal:hover{
    opacity: 100%;
}

#imgTitulo {
    width: 4%;
    height: 4%;
    margin-top: 1.6%;
    margin-left: 32%;
    margin-right: 0.5%;
    border-radius: 100%;
    float: left;
}

form.buscador input[type=text] {
    width: 15%;
    margin-top: 2%;
    padding: 0.75%;
    font-size: 17px;
    color: white;
    background: rgb(0, 0, 0);
    border: 1px solid grey;
    float: left;
}

form.buscador button {
    width: 4%;
    max-width: 80px;
    margin-top: 2%;
    padding: 0.75%;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    float: left;
    transition: background-color 0.2s;
}

form.buscador button:hover {
    background-color: red;
}

@keyframes rotar {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(25deg);
        }
    50% {transform: rotate(-25deg);}
    75% {transform: rotate(25deg);}
    100% {transform: rotate(0deg);}
}

#notificaciones{
    width: 2%;
    height: auto;
    float: right;
    margin-right: 5%;
    margin-top: 2.5%;
    cursor: pointer;
    z-index: 0;
    
}

#notificaciones:hover{
    animation: rotar;
    animation-duration: 0.3s;
}

#numeroNotificaciones{
    width: 1%;
    height: auto;
    float: right;
    margin-top: 2.5%;
    margin-right: 0.2%;
    z-index: 10;
}

.clear {
    clear: both;
}

#popUpNotificaciones {
    width: 20%;
    height: auto;
    margin-top: 5%;
    margin-left: 80%;
    background-color: grey;
    position: absolute;
    visibility: hidden;
}

.popUpNotificacion {
    width: 100%;
    height: 45%;
    padding: 0.5%;
    border: 0.5px solid white;
}

.cajaImgEmisor {
    height: auto;
    width: 20%;
    margin: 2%;
    float: left;
}

.imgEmisor {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.textoNotificacion {
    width: 70%;
    height: 100%;
    margin-top: 4.6%;
    margin-left: 2%;
    font-size: 90%;
    float: left;
}

@keyframes slide {
    0% {margin-left: -50%;}
    100% {margin-left: 0%;}
}

@keyframes slideCerrar {
    0% {margin-left: 0%;}
    100% {margin-left: -50%; }
}

#cajaMenu {
    height: 800px;
    width: 35%;
    position: fixed;
    background-color: black;
    visibility: hidden;
}

#cajaCerrarMenu {
    height: 800px;
    width: 65%;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    visibility: hidden;
}

#cajaMenu2 {
    height: 800px;
    width: 35%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.opcionMenu {
    width: 100%;
    height: 80px;
    border-bottom: 6px solid grey;
    cursor: pointer;
    background-image: url("../IMG/fondoMenu.jpg");
    transition: border-color 0.5s;
}
.opcionMenu:hover{
    border-color: blue;
}

.iconoOpcionMenu {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 3.25%;
    margin-left: 8%;
}

.textoOpcionMenu {
    height: 50%;
    width: auto;
    float: left;
    color: white;
    margin-top: 6%;
    margin-left: 15%;
    font-size: 150%;
}

#columnaPrincipalIzquierda {
    height: auto;
    width: 49.926%;
    border-right: 0.5px solid grey;
    float: left;
}

#columnaPrincipalDerecha {
    height: auto;
    width: 49.926%;
    border-left: 0.5px solid grey;
    float: right;
}

.tituloColumnaPrincipal {
    width: 24%;
    margin-left: 38%;
    margin-top: 4%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.actividad {
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    background-image: url("https://image.freepik.com/vector-gratis/sombra-linea-luz-azul-sobre-fondo-negro-espacio-blanco_33869-659.jpg");
}

.añadir {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 6%;
    padding: 3%;
    background-color: rgb(255, 14, 86);
    color: white;
    font-size: 100%;
    text-align: center;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: width 0.5s, margin-left 0.5s, background-color 0.5s, color 0.5s;
}

.añadir:hover {
    width: 80%;
    margin-left: 10%;
    background-color: red;
    color: black;
}

footer{
    height: 50px;
    border: 2px solid white;
    background-color: rgb(48, 48, 48);
    text-align: center;
    clear: both;
}

footer a img{
    width: 3%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.3%;
    transition: opacity 0.2s;
}

footer a img:hover{
    opacity: 0.5;
}

#cajaFooter {
    width: 100%;
    height: 50px;
    background-color: rgb(48, 48, 48);
    color: white;
}

.clear {
    clear: both;
}