#Body {
    background-image: url("../IMG/fondoColumna.jpg");
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
}


.Cabecera {
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
}

#iconoCerrar{
    float: right;
    width: 5%;
    height: auto;
    margin-top: 8%;
    margin-right: 7%;
    opacity: 75%;
    cursor: pointer;
}
#iconoCerrar:hover{
    opacity: 100%;
}

#menuPrincipal {
    width: 2%;
    height: auto;
    margin-top: 2.5%;
    margin-left: 3%;
    float: left;
    opacity: 75%;
    cursor: pointer;
}

#menuPrincipal:hover{
    opacity: 100%;
}

#imgTitulo {
    width: 4%;
    height: 4%;
    margin-top: 2%;
    margin-left: 42%;
    margin-right: 0.5%;
    border-radius: 100%;
    float: left;
}

#notificaciones{
    width: 2%;
    height: auto;
    float: right;
    margin-right: 5%;
    margin-top: 2.5%;
}

#numeronotificaciones{
    width: 1%;
    height: auto;
    float: right;
    margin-top: 2.5%;
    margin-right: -0.4%;
}

#cajaMenu {
    height: 800px;
    width: 35%;
    position: fixed;
    background-color: black;
    visibility: hidden;
}

#cajaCerrarMenu {
    height: 800px;
    width: 65%;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    visibility: hidden;
}

#cajaMenu2 {
    height: 800px;
    width: 35%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.opcionMenu {
    width: 100%;
    height: 80px;
    border-bottom: 6px solid grey;
    cursor: pointer;
    background-image: url("../IMG/fondoMenu.jpg");
}
.opcionMenu:hover{
    border-color: blue;
}

.iconoOpcionMenu {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 3.25%;
    margin-left: 8%;
}

.textoOpcionMenu {
    height: 50%;
    width: auto;
    float: left;
    color: white;
    margin-top: 6%;
    margin-left: 15%;
    font-size: 150%;
}

#columnaPrincipalIzquierda {
    height: auto;
    width: 49.926%;
    border-right: 0.5px solid grey;
    float: left;
}

#columnaPrincipalDerecha {
    height: auto;
    width: 49.926%;
    border-left: 0.5px solid grey;
    float: right;
}

.tituloColumnaPrincipal {
    width: 24%;
    margin-left: 38%;
    margin-top: 4%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.actividad {
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    background-color: rgb(83, 83, 83);
}

.añadir {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 6%;
    padding: 3%;
    background-color: rgb(255, 14, 86);
    color: white;
    font-size: 100%;
    text-align: center;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.añadir:hover {
    height: 150%;
    width: 80%;
    margin-left: 10%;
    background-color: red;
    color: black;
}

footer{
    height: 50px;
    border: 2px solid white;
    background-color: rgb(48, 48, 48);
    text-align: center;
    clear: both;
}

footer a img{
    width: 3%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.3%;
}

footer a img:hover{
    opacity: 0.5;
}

#cajaFooter {
    width: 100%;
    height: 50px;
    background-color: rgb(48, 48, 48);
    color: white;
}

.clear {
    clear: both;
}