#Body {
    background-image: url("../IMG/fondoColumna.jpg");
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
}


.Cabecera {
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
}

#menuPrincipal {
    width: 4%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
    opacity: 75%;
}

#menuPrincipal:hover{
    opacity: 100%;
}

#imgTitulo {
    width: 4%;
    height: 4%;
    margin-top: 2%;
    margin-left: 42%;
    margin-right: 0.5%;
    border-radius: 100%;
    float: left;
}

#cajaMenu {
    height: 800px;
    width: 35%;
    position: fixed;
    background-image: url("../IMG/fondoMenu.jpg");
    visibility: hidden;
}

#cajaCerrarMenu {
    height: 800px;
    width: 65%;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    visibility: hidden;
}

#cajaMenu2 {
    height: 800px;
    width: 35%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.opcionMenu {
    width: 100%;
    height: 60px;
    border-bottom: 6px solid grey;
    background-color: green;
}

.iconoOpcionMenu {
    height: 60px;
    width: auto;
    background-color: red;
    float: left;
}

.textoOpcionMenu {
    height: 100%;
    width: auto;
    background-color: aqua;
    float: left;
}

#columnaPrincipalIzquierda {
    height: auto;
    width: 49.926%;
    border-right: 0.5px solid grey;
    float: left;
}

#columnaPrincipalDerecha {
    height: auto;
    width: 49.926%;
    border-left: 0.5px solid grey;
    float: right;
}

.tituloColumnaPrincipal {
    width: 24%;
    margin-left: 38%;
    margin-top: 4%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.actividad {
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    background-color: rgb(83, 83, 83);
}

.añadir {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 6%;
    padding: 3%;
    background-color: rgb(255, 14, 86);
    color: white;
    font-size: 100%;
    text-align: center;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.añadir:hover {
    height: 150%;
    width: 80%;
    margin-left: 10%;
    background-color: red;
    color: black;
}

#cajaFooter {
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
    float: left;
}

.columnasFooter {
    width: 33.33%;
    height: 100%;
    background-color: rgb(48, 48, 48);
    color: white;
    float: left;
}

.clear {
    clear: both;
}